<dl *ngIf="(article$ | async) as article">
  <dt>Title</dt>
  <dd>{{ article.title }}</dd>
  <dt>Manufacturer</dt>
  <dd>{{ article.manufacturer }}</dd>
  <dt>Price</dt>
  <dd>{{ article.price | currency:'EUR' }}</dd>
  <dt>Category</dt>
  <dd>
    <select [(ngModel)]="article.category" (ngModelChange)="categoryChange.next($event)">
      <option *ngFor="let category of (categories$ | async)" [ngValue]="category.id">{{ category.key }}</option>
    </select>
  </dd>
  <dt>Subcategory</dt>
  <dd>
    <select [(ngModel)]="article.subcategory">
      <option *ngFor="let category of (subcategories$ | async)" [ngValue]="category.id">{{ category.key }}</option>
    </select>
  </dd>
</dl>
